@model DesignPattern.Facade.DAL.OrderDetail
@{
    ViewData["Title"] = "OrderStart";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h1>Order Detail Page</h1>

<form method="post">
    <label>Customer Id</label>
    <input type="text" class="form-control" asp-for="CustomerId" />
    <br />
    <label>Order Id</label>
    <input type="text" class="form-control" asp-for="OrderId" />
    <br />
    <label>Product Id</label>
    <input type="text" class="form-control" asp-for="ProductId" />
    <br />
    <label>Product Price</label>
    <input type="text" class="form-control" asp-for="ProductPrice" />
    <br />
    <label>Product Count</label>
    <input type="text" class="form-control" asp-for="ProductCount" />
    <br />
    <button class="btn btn-warning">Give Order</button>
</form>